
/* hadder and nav styles */
nav{
  display: flex;
    padding-left: 90px;

  justify-content: space-between;
}

nav h3{
  padding-right: 620px;
}


nav >ul{
  display: flex;
  color: black;
  padding-right: 127px;
}

nav li{
  list-style: none;
  margin-right: 40px;
}

nav a{
  text-decoration: none;
}

/* main section style
     Banner1
*/

.banner{
  width: 1170px;
  height: 500px;
  background-image: url(./Images/Group\ 13.png);
  
  margin: 20px  180px;
}

.banner h1{
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  padding-top: 106px;
}

.banner p{
  color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
 font-weight: 400;
  line-height: 26px; 
}
.border{
  width: 800px;
  height: 84px;
  
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  margin: 20px  180px;
}

.border ul input{
  width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
}

#Search{
  width: 174px;
height: 52px;
  border-radius: 5px;
    background: #FD6E0A;
    border:0;
    color: rgb(12, 12, 12);
    font-size: 20px;
    font-weight: 700;
    padding: 10px 35px;
}



/* main section: Banner2 */

.choise{
  text-align: center;
}

.banner2{
  
  display: flex;
  padding-top: 100px;
 
 
}

.information{
  background: #FFF;s
    width: 90px;
  height: 550px;

  margin: 50px 200px;
}

.More{
   width: 174px;
   height: 52px;
   border-radius: 5px;
    background: #FD6E0A;
    border:0;
    color: rgb(12, 12, 12);
    font-size: 20px;
    font-weight: 700;
    padding: 10px 35px;
}

.img{
  padding-right: 150px;
   width: 540px;
height: 550px;

 
}


.why{
   margin-top: 100px;
  text-align: center;

}

.box{

  display: flex;
  
  display: inline-flex;
  gap: 10px;
}
#one{
  width: 573px;
height: 284px;
flex-shrink: 0;
background-color: rgb(230, 200, 163);
border-radius: 16px;
}

#two{
  width: 573px;
height: 284px;
flex-shrink: 0;
background-color:aquamarine;
border-radius: 16px;
}

.three{

    margin-top: 20px;
   margin-left: 500px;
   width: 573px;
height: 284px;
flex-shrink: 0;
background-color:rgb(162, 131, 90);
border-radius: 16px;

}




/* Subscribe part */

.last-banner{
  display: flex;
  padding-top: 100px;
  margin-left: 250px;


}

.submit{
  text-align: center;
   background-color: rgb(250, 248, 248);
   width: 370px;
   height: 350px;
   box-shadow: 0.7px 0.7px 0.7px rgb(206, 206, 205);
   border-radius: 10px 10px 10px 10px;
   border-top: 15px solid white;
   margin-right: 70px;
   margin-top: auto;
   border-color: #FD6E0A;
   
  
   
}

input{

  width: 330px;
  height: 50px;
  border-radius: 10px 10px 10px 10px;
  border-color: rgb(251, 251, 252);
  background-color: white;
}

#login{
  width: 330px;
  height: 50px;
  color:white;
  background-color:#FD6E0A;
  border-radius: 10px 10px 10px 10px;
  border-color: rgb(251, 251, 252);
}

#save{
  width: 324px;
height: 120px;
transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
text-align: center;
padding-top: 20px;
margin-left: 350px;
}
